/* App */
.app{
    background-color: rgb(240,238,227);
    height: 100vh;
    width: 100vw;
    display: flex
}
/* Header */
.header {
    height: 450px;
    width: 100%;
    border: 4px solid black;
    margin: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: center;

}

.header_content {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   align-items: center
}

#header_spacing{
    padding: 36px;
}
.title{
    font-size: 72px;
   
}
.subtitle {
    font-size: 36px;
}